.element__like {
  position: absolute;
    background-image: url(../../../images/Vector_like.svg);
    width: 22px;
    height: 19px;
    border: none;
    right: 20px;
    bottom: 30px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-repeat: no-repeat;
    transition: .7s ease;
    cursor: pointer;
    background-position: center;
}
