.element__like {
  background-image: url(../../../images/Vector_like.svg);
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: auto;
  border: none;
  background-color: transparent;
  padding-right: 65px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.element__like:hover {
  opacity: .5;
}

.element__like:active {
  background-image: url(../../../images/Heart_active_black.svg);
  background-color: transparent;
}
