.profile__name {
  margin: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  padding-top: 10px;
  padding-left: 3px;
  grid-column: 2/3;
  grid-row: 1/2;
}



