.profile__edit-btn {
  background-image: url(../../../images/Vector.svg);
  min-width: 24px;
  min-height: 24px;
  margin-left: 20px;
  margin-top: 25px;
  grid-row: 1 / 2;
  border: 1px solid #fff;
  background-color: transparent;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  fill: #fff;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: .5;
}

@media screen and (max-width: 320px) {
  .profile__button-edit {
    background-size: 7.5px 7.5px;
    margin: 5px 0 0 10px;
    min-width: 18px;
    min-height: 18px;
    padding: 7px 7px;
  }
}
