.element {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 282px;
  height: 361px;
  border-radius: 10px;
}

@media screen and (max-width: 680px) {
.element {
  margin: auto;
  align-items: center;
}
}
